<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <title>Login</title>
</head>
<body>
    <header>
        <div class="navSup">
            <p>Descuentos 20%</p>
        </div>
        <div class="logo">
            <img src="/img/logo_tienda.png" alt="">
            <p>Nombre Tienda</p>
        </div>
        <nav>
            <!-- <ul>
                <li><a href="/views/contacto.html">Contacto</a></li>
                <li><a href="/views/registrarme.html">Registrarme</a></li>
                <li><a href="/views/login.html">Ingresar</a></li>
            </ul> -->
        </nav>
    </header>
    <main>
        <h1 class="formH1">Login</h1>
        <div class="login">
            <form action="/index.html" method="GET">
                <input type="text" name="Usuario" placeholder="Usuario" id="Usuario">
                <input type="text" name="Contraseña" placeholder="Contraseña" id="Contraseña">
                <input type="submit" value="Entrar">
            </form>
        </div>    
        <div class="registrarme">
            <span>¿No tienes una cuenta?</span>
            <a href="/views/registrarme.html">Registrarme</a>
        </div>
    </main>   
    <footer>
        <p>Todos los derechos reservados a FRONT END 1</p>
    </footer> 
</body>
</html>