<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <title>contacto</title>
</head>
<body>
    <header>
        <div class="navSup">
            <p>Descuentos 20%</p>
        </div>
        <div class="logo">
            <img src="/img/logo_tienda.png" alt="">
            <p>Nombre Tienda</p>
        </div>
        <nav>
            <ul>
                <li><a href="/views/contacto.html">Contacto</a></li>
                <li><a href="/views/registrarme.html">Registrarme</a></li>
                <li><a href="/views/login.html">Ingresar</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1 class="formH1">Contacto</h1>
        <div class="login">
            <form action="/index.html" method="GET">
                <label for="name"></label>
                <input type="text" name="name" placeholder="Nombre y Apellido" id="name">
                <label for="email"></label>
                <input type="email" name="email" placeholder="Correo Electrónico" id="email">
                <textarea name="" id="" cols="30" rows="10" class="contacto"></textarea>
                <div class="registButton">
                    <input type="reset" value="Resetear">
                    <input type="submit" value="Registrar">
                </div>
            </form>
        </div>    
        <div class="registro">
            <!-- <span>¿Ya tienes una cuenta?</span>
            <a href="/views/login.html">Ingresa</a> -->
        </div>
    </main>   
    <footer>
        <p>Todos los derechos reservados a FRONT END 1</p>
    </footer> 
</body>
</html>