@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Karla&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 20px;
} 

body{
    font-family: 'Roboto', sans-serif;
}

header{
    position:sticky; 
    top: 0px;
    z-index: 100;
    color: #F3F3F3;   
} 
   
.navSup{
    color: black;
    background: #1CD1B0;
    font-weight: bold;
    font-size: 0.75rem;
    
}

.logo{
    background: #00669F;
    font-weight: 400;
    font-size: 1.2rem;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav{
    background-color: #001D2D;
    color: #FFFFFF;
    font-size: 0.75rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
}

nav ul li{
    text-decoration: none;
    display: inline;
    font-size: 0.75rem;
}

nav a{
    text-decoration: none;
    color: #F3F3F3;
    padding: 15px;
}


.descripcion{
    display:flex; 
    flex-direction: row;
    flex-wrap: nowrap;   
    justify-content: center;    
}

.articleSup, .articleInf{
    display:flex; 
    flex-direction: row;
    flex-wrap: nowrap; 
}

article {
    padding-top: 10px;
    position:relative;
    margin: 80px 8px;
}


.caja1, .caja2, .caja3, .caja4{   
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 20px 20px 0px 0px;
    height: 193px;   
    margin: 0px 20px;
    position:relative;
    display: flex;
    justify-content: space-around;
    width: 250px;
}


.caja1{
    background-image:url(../img/fondobatman.png);
}

.caja2{
    background-image: url(../img/fondomaravilla.png);
}

.caja3{
    background-image:url(../img/fondosuperman.png);
}

.caja4{
    background-image: url(../img/fondo-harley.png);
}

.foto{
    border-radius: 50%;    
    position: absolute;
    top: 100px;    
    width: 120px;
    height: 118px;
    z-index: 1;
    left: calc(50% - (118px / 2) ); 
    top: calc(194px -(120px / 2) );
}

 i{
    color: red;
    position: relative;
    right: 100px;
    top: 15px;
    font-size: 30px;
}

.desc{    
    width: 250px;
    height: 336px;
    margin: -40px 20px;
    padding-top: 0px;
    text-align: center;
    background-color: #F3F3F3;
    position: relative;
    font-weight: bold;
}

.titulo{
    padding: 74px 10px 10px 10px;
    text-transform: uppercase;
}

p.parrafo{
    padding: 10px 16px 104px 16px;
    text-align: left;
    font-size: 14px;
    overflow-y:scroll;
    height: 80px;
}


.boton, footer{
    background: #00669F;
    color: #F3F3F3;
    padding: 15px 37px;
}

.boton{
    background: #00669F;
    color: #F3F3F3;
    align-self: flex-end;
    font-size: 12px;
    margin-top: 20px;
}


.botonMas{
    text-decoration: none;
    background-color: #00669F;
    color: #F3F3F3;
    font-size: 50px;
    border-radius: 150%;
    width: 60px;
    text-align: center;
    position: fixed;
    right: 50px;
    top: 300px;
}

.botonMas:hover{
    background-color:#001D2D;
}

footer{
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    justify-content: flex-end;       
}

footer p{
    flex-grow: 0.5;
}

footer img{
    height: 16px;
    flex-grow: 0;
}


/*----------Login----------------*/

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formH1{
    margin-left: calc(50% - (620px / 2) ); 
    margin-top: 50px;
    font-family: 'Inter', sans-serif;
}

input[type=text], select, input[type=password], input[type=email]{
    width: 620px;
    margin:10px;
    margin-left: calc(50% - (620px / 2) ); 
    height: 40px;
    padding-left: 20px;
}

textarea{
    margin-left: calc(50% - (620px / 2) ); 
    width: 620px;
}

input[type=submit]{
    background-color: #1CD1B0;
    border-radius: 20px;
    width: 620px;
    height: 40px;
    margin-left: calc(50% - (620px / 2) ); 
    border: hidden;
}

.registrarme, .registro{
    text-align: center;
    margin-top: 20px;
    font-size: 0.75rem;
    font-family: 'Karla', sans-serif;
}

.registrarme span{
    color: #00669F;
}

.registrarme a{
    text-decoration: none;
}

.registro span{
    color: #222222;
}

.registro a{
    color: #00669F;
    text-decoration: none;
}

/*----------Registrarme----------*/

div.registButton input[type=submit], input[type=reset]{
    background-color: #1CD1B0;
    border-radius: 20px;
    width: 300px;
    height: 40px;
    margin: auto;
    border: hidden;
}

input[type=reset]{
    background-color: #888888;
    margin-left: calc(50% - (600px / 2) ); 
    color: #F3F3F3;
}

/*----------Contacto-------*/

textarea.contacto{
    margin-left: calc(50% - (620px / 2) );
    width: 620px;
}

/*----------Añadir-------*/

section.agregar{
    display: flex;
    justify-content: center;

}

article.secAñadir{
    background-color: #00669F;
    width: 800px;
    color: #FBFFFD;
    border-radius: 24px;      
}

div.añadir input[type=text], div.añadir input[type=date], textarea, div.añadir select{
    border-radius: 8px;
}


div.titulos{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    
}
div.añadir{
    display: flex;
    flex-direction: row;
    font-size: 0.75rem;
    justify-content: center;
}

div.leftAñadir, div.rightAñadir{
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-top: 20px;
}

div.leftAñadir{
    margin-right: 10px;
}

div.rightAñadir{
    margin-left: 10px;
}

div.añadir div.leftAñadir label, div.añadir div.rightAñadir label{
    align-self: start;
}

div.radioBox, div.checkbox, div.añadir input[type=text], div.añadir input[type=date], div.rightAñadir select{
    width: 300px;
    height: 40px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.añadir input[type=file]{
    margin: 20px 0px;
    align-self: flex-start;
}

div.checkbox, div.radioBox{
    height: auto;
}

div.checkbox input, div.radioBox input{
    margin-top: 10px;
}


textarea{   
    width: 300px;
    margin: auto;
    margin-top: 10px;
    height: 305px;
}   

input[type=file]{
    color: black;
}

legend{
    font-size: 0.9rem;
}

hr{
    margin-top: 30px;
    border:  1px solid #CCCCCC;
}

div.añadirButton{
    display: flex;
    justify-content: center;
}

div.añadirButton input{
    font-family: 'Inter', sans-serif;
    width: 300px;
    height: 50px;
    font-size: 1.5rem;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
}

div.añadirButton input:hover{
    background: #001D2D;
    color: #FFFFFF;
}

@media (max-width: 760px) {

    
  
    .descripcion{
        display:flex; 
        flex-direction: row;
        flex-wrap: wrap;       
        justify-content: space-between; 
        align-items: center;       
    }

    .articleSup, .articleInf{
        display: flex;
        margin-top: 30px;
        box-sizing: border-box;
    }

}

@media (max-width: 420px) {

    .descripcion{
        display:flex; 
        flex-direction: column;
        justify-content: space-between;        
    }

    .articleInf, .articleSup{
        display:flex; 
        flex-direction: column;
        justify-content: space-between; 

    }

    .caja4-main{
        display: none;
    }
    
    footer{
        flex-direction: column;
    }
   
}