<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <header id="headPersonal">
        <nav>
            <a href="../index.html" class=infopersonal>Ir al CV</a>
        </nav>
    </header>
    <main>
        <h2>Informacion Personal</h2>
        <section>        
            <p class="infoPersonal">Lorem ipsum, dolor sit amet consectetur adipisicing elit. In officiis consectetur earum? Totam soluta tempora explicabo architecto rerum tempore placeat. Fuga odio sunt numquam expedita perspiciatis placeat, suscipit nostrum non ipsa tempore, amet accusantium excepturi odit cum corrupti? Quae dolorem est voluptatum quisquam explicabo. Incidunt vitae ullam consectetur deserunt ab! Eaque cumque reiciendis delectus, eius quis cum assumenda consequatur rem deleniti consequuntur nulla eos quos totam ipsam odio, ex dicta aliquam. Rerum praesentium quisquam nobis deleniti vero expedita repudiandae enim iure nemo provident. Dolorem rem assumenda voluptatibus vitae nisi? Necessitatibus quam impedit laudantium eos maxime corrupti excepturi est praesentium quidem!
            </p>
        </section>    
        <section>
            <p class="infoPersonal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus iure magni voluptatibus error molestias harum quae deserunt quos, modi nisi deleniti sed laborum repellat nam eum doloremque aliquid ullam accusamus. Cum quod blanditiis dolorem vitae quibusdam! Natus voluptate hic provident est minima vel sapiente eius laboriosam nam, animi perferendis ratione non expedita enim deserunt officiis. Illo iste, tempora deleniti iure, dolorem hic laborum dolorum qui illum reiciendis laboriosam cum? Quidem!
    
            </p>
        </section>
            
    </main>
    <footer>
        <h4>0249-154308680 - Clara Lisle
            <img src="../img/ico_instagram.png" alt="logo Ig">
            <img src="../img/ico_linkedin.png" alt="logo linkdin">
            <a  href="https://github.com/ClaraLis1/Frontend1.git" target="blank"><img id="github" src="../img/github.png" alt=""></a>
        
        </h4>
    </footer>
</body>
</html>